﻿@model Employee

@{
    ViewBag.Title = Model == null ? "Create" : "Edit"; 
}

<div class="row">
    <form class="w-50" asp-action="@ViewBag.Title">
        <div class="mb-3">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="City"></label>
            <input class="form-control" asp-for="City">
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
        <div class="mb-3 w-30">
            <label class="form-label" asp-for="DOB">Date of birth</label>
            <input class="form-control" type="date" asp-for="DOB">
            <span class="text-danger" asp-validation-for="DOB"></span>
        </div>
        <div class="mb-3 w-30">
            <label class="form-label" asp-for="HiringDate"></label>
            <input class="form-control" type="date" asp-for="HiringDate">
            <span class="text-danger" asp-validation-for="HiringDate"></span>
        </div>
        <div class="mb-3 w-25">
            <label class="form-label" asp-for="GrossSalary"></label>
            <input class="form-control col-md-3" asp-for="GrossSalary">
            <span class="text-danger" asp-validation-for="GrossSalary"></span>
        </div>
        <div class="mb-3 w-25">
            <label class="form-label" asp-for="NetSalary"></label>
            <input class="form-control" asp-for="NetSalary">
            <span class="text-danger" asp-validation-for="NetSalary"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="DepartmentId"></label>
            <select class="form-select" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments,"Id","Name"))">
                <option></option>
            </select>
            <span class="text-danger" asp-validation-for="DepartmentId"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-dark" asp-action="Index">Back To List</a>
    </form>
    
</div>