﻿@model Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m=> m.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m=> m.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m=> m.City)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m=> m.City)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m => m.DOB)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m => m.DOB)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m => m.HiringDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HiringDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m=> m.GrossSalary)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m=> m.GrossSalary)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m=> m.NetSalary)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m=> m.NetSalary)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(m=> m.Department.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(m=> m.Department.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id=@Model?.Id class="btn btn-primary">Edit</a> 
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </div>
</div>