﻿@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employees";
}

@using(Html.BeginForm())
{
    <div class="input-group m-4">
        @Html.TextBox("SearchByName",null,new{@class="form-control",@placeholder="Search By Employee Name"})
        <input type="Submit" class="btn btn-outline-success" value="search"/>
    </div>
}
<h2>All Employees</h2>
<a class="btn btn-primary" asp-action="Create">Create new</a>
<hr />

<table class="table">
    <thead>
        <tr>
            <td>@Html.ActionLink("Id","Index",new {sortField="Id",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Name","Index",new {sortField="Name",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Date of Birth","Index",new {sortField="DOB",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Hiring Date","Index",new {sortField="HiringDate",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Gross Salary","Index",new {sortField="GrossSalary",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Net Salary","Index",new {sortField="NetSalary",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
            <td>@Html.ActionLink("Department Name","Index",new {sortField="DepartmentName",currentSortField=ViewBag.SortField,sortDirection=@ViewBag.SortDirection})</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.DOB.ToShortDateString()</td>
                <td>@employee.HiringDate.ToShortDateString()</td>
                <td>@employee.GrossSalary</td>
                <td>@employee.NetSalary</td>
                <td>@employee.DepartmentName</td>
                <td>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id=@employee.Id>
                        Edit
                    </a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id=@employee.Id>Details</a>
                    <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Employee?');" asp-action="Delete" asp-route-id=@employee.Id>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>